<!DOCTYPE html>
<html>
<head>
  <title>What Plant Is This?</title>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="icon" type="image/png" href="https://images.squarespace-cdn.com/content/v1/64790f5777b5d772678cce83/6d71eaee-f825-4324-be9b-2def32469eac/Untitled+drawing+%2811%29.png?format=100w">
</head>
<body>
  <div class="header">
    <h1>What Plant is This?</h1>
    <p> Have a neural net try to identify the plant you found.</p>

    <div class="feature-select">
    <label for="feature">This is a picture of a...</label>
    <select name="feature" id="feature-select">
      <option value="flower">flower</option>
      <option value="leaf">leaf</option>
      <option value="fruit">fruit</option>
    </select>
  </div>

  </div>

  <div class="container">
    <div id="image-dropzone" class="dropzone">
      <p>Drop an image</p>
    </div>
    <img id="uploaded-image" src="#" alt="Uploaded Image" />
    <div class="right-container">
      <h2 id="thinking-text">Suggestions will appear here...</h2>
      <div class="image-grid">
        <div id="predicted-images">
        </div>
      </div>
    </div>
  </div>

  <!-- Add the GitHub link and icon below the container -->
  <div class="github-container">
    <a href="https://github.com/brayden1moore/What-Plant-Is-This" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" height=20px />
      <p> See the code</p>
    </a>
  </div>

  <div class="spacing">
    <p><br> <br> <br> </p>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/alexcorvi/heic2any/dist/heic2any.js"></script>
  <script src="static/script.js"></script>
</body>
</html>
